.bg-main {
}

.bg-osu {
  background-color: #dc4405;
}

.img {
  border-radius: 15px;
}

.logo {
  max-width: 16rem;
  margin: 2rem;
  max-height: 8rem;
}

.med-width {
  max-width: 75rem;
}

.profile_img {
  width: 10em;
  float: right;
  text-align: center;
  img {
    border: black solid 3px;
    border-radius: 10px;
  }
}

.sponsor-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.sponsor-item {
  max-width: 16rem;
  margin: 1rem;
  max-height: 12rem;
}

.serif {
  font-family: serif;
}
